<h1>Version form</h1>
<form (ngSubmit)="submitForm(formRef)" #formRef="ngForm">
  <label>Version name:</label>
  <input type="text" [formControl]="versionNameControl" required />

  <label>Type of version:</label>
  <select [formControl]="typeControl">
    <option *ngFor="let type of types" [value]="type">{{ type }}</option>
  </select>

  <button type="submit" [disabled]="!formRef.valid">Submit</button>
</form>

<h2>Value and validity</h2>
<p><strong>Form value:</strong> {{ versionNameControl.value }} - {{ typeControl.value }}</p>
<p><strong>Is version name input valid ?</strong> {{ versionNameControl.valid }}</p>
<p><strong>Is form valid ?</strong> {{ formRef.valid }}</p>
