<h1>Version form</h1>
<form (ngSubmit)="submitForm(formRef)" #formRef="ngForm">
  <label for="versionName">Version name:</label>
  <input id="versionName" type="text" [(ngModel)]="versionName" required name="versionName" #nameRef="ngModel"/>

  <label for="type">Type of version:</label>
  <select id="type" [(ngModel)]="selectedType" name="type">
    @for (type of types; track type) {
      <option [value]="type">{{ type }}</option>
    }
  </select>

  <button type="submit" [disabled]="!formRef.valid">Submit</button>
</form>

<h2>Value and validity</h2>
<p><strong>Form value:</strong> {{ versionName() }} - {{ selectedType() }}</p>
<p><strong>Is version name input valid ?</strong> {{ nameRef.valid }}</p>
<p><strong>Is form valid ?</strong> {{ formRef.valid }}</p>
